mixin card-transaction(data)
    .card-transaction(class = data.type == '+' ? 'card-transaction--pay':'' data-tab = data.type != '+' ? 'payment':'return')
        .card-transaction__icon: span: +icons( data.type == '+' ? '#ic_plus-min':'#ic_check' )
        .card-transaction__main
            .card-transaction__name= data.title
            .card-transaction__desc 30.09.23, 16:27
        .card-transaction__cost: span= data.cost


mixin transactions
    .transactions-bill
        .transactions-bill__state
            .transactions-bill__icons: +icons('#ic_wallet')
            .transactions-bill__val
                | Ваш баланс:
                span 10 000 ₽
        .transactions-bill__pay
            button.btn(data-popup="pay") Пополнить

    .transactions
        .transactions__title История транзакций
        .transactions__filter
            .transactions__tabs
                ul(data-tab-filter="transactions")
                    li: a(href='/personal-finance--month.html') Помесячно
                    li(data-filter="return").icon--green: +icons('#ic_plus-min')
                    li(data-filter="payment"): +icons('#ic_check')
            .transactions__range-date(data-datepicker="range")
                .date-time
                    .input--date: input(type="text" placeholder="Начало отчётного периода" data-input="datepicker" data-datepicker="start")
                    select(placeholder="Время" data-find="false")
                        each item, index in Array(24) 
                            option(value="0")= index+':00' 
                .date-time
                    .input--date: input(type="text" placeholder="Окончание отчётного периода" data-input="datepicker" data-datepicker="end")
                    select(placeholder="Время" data-find="false")
                        each item, index in Array(24) 
                            option(value="0")= index+':00' 

        .transactions__list(data-tab-filter-container="transactions")
            .transactions__item
                .transactions__date 30 сентября
                .transactions__cards
                    +card-transaction({
                        title: 'Ежедневное списание по подключённой услуге «Мастер отчётов»',
                        cost: '160 ₽',
                        type: '-',
                    })
                    +card-transaction({
                        title: 'Оплата услуги «Видеонаблюдение 500ГБ»',
                        cost: '-5 000 ₽',
                        type: '-',
                    })
                    +card-transaction({
                        title: 'Возврат средств по неиспользованным дням',
                        cost: '+2 400 ₽',
                        type: '+',
                    })
                    +card-transaction({
                        title: 'Оплата за «Пакет разовых/временных пропусков “Профессиональный”»',
                        cost: '-2 000 ₽',
                        type: '-',
                    })


            .transactions__item
                .transactions__date 27 сентября
                .transactions__cards
                    +card-transaction({
                        title: 'Ежедневное списание по подключённой услуге «Мастер отчётов»',
                        cost: '160 ₽',
                        type: '-',
                    })
                    +card-transaction({
                        title: 'Возврат средств по неиспользованным дням',
                        cost: '+2 400 ₽',
                        type: '+',
                    })

            .transactions__item
                .transactions__date 24 сентября
                .transactions__cards
                    +card-transaction({
                        title: 'Ежедневное списание по подключённой услуге «Мастер отчётов»',
                        cost: '160 ₽',
                        type: '-',
                    })
                    +card-transaction({
                        title: 'Оплата услуги «Видеонаблюдение 500ГБ»',
                        cost: '-5 000 ₽',
                        type: '-',
                    })
                    +card-transaction({
                        title: 'Возврат средств по неиспользованным дням',
                        cost: '+2 400 ₽',
                        type: '+',
                    })
                    +card-transaction({
                        title: 'Оплата за «Пакет разовых/временных пропусков “Профессиональный”»',
                        cost: '-2 000 ₽',
                        type: '-',
                    })


            .transactions__item
                .transactions__date 19 сентября
                .transactions__cards
                    +card-transaction({
                        title: 'Ежедневное списание по подключённой услуге «Мастер отчётов»',
                        cost: '160 ₽',
                        type: '-',
                    })
                    +card-transaction({
                        title: 'Возврат средств по неиспользованным дням',
                        cost: '+2 400 ₽',
                        type: '+',
                    })

            .transactions__item
                .transactions__date 11 сентября
                .transactions__cards
                    +card-transaction({
                        title: 'Ежедневное списание по подключённой услуге «Мастер отчётов»',
                        cost: '160 ₽',
                        type: '-',
                    })
                    +card-transaction({
                        title: 'Оплата услуги «Видеонаблюдение 500ГБ»',
                        cost: '-5 000 ₽',
                        type: '-',
                    })
                    +card-transaction({
                        title: 'Возврат средств по неиспользованным дням',
                        cost: '+2 400 ₽',
                        type: '+',
                    })
                    +card-transaction({
                        title: 'Оплата за «Пакет разовых/временных пропусков “Профессиональный”»',
                        cost: '-2 000 ₽',
                        type: '-',
                    })
                    
mixin transactions-month
    .transactions-bill
        .transactions-bill__state
            .transactions-bill__icons: +icons('#ic_wallet')
            .transactions-bill__val
                | Ваш баланс:
                span 10 000 ₽
        .transactions-bill__pay
            button.btn(data-popup="pay") Пополнить

    .transactions
        .transactions__title История транзакций
        .transactions__filter
            .transactions__tabs
                ul(data-tab-filter="transactions")
                    li.is-active: a(href='/personal-finance.html') Помесячно
                    li(data-filter="return").icon--green: +icons('#ic_plus-min')
                    li(data-filter="payment"): +icons('#ic_check')
            .transactions__range-date(data-datepicker="range")
                .date-time
                    .input--date: input(type="text" placeholder="Начало отчётного периода" data-input="datepicker" data-datepicker="start")
                    select(placeholder="Время" data-find="false")
                        each item, index in Array(24) 
                            option(value="0")= index+':00' 
                .date-time
                    .input--date: input(type="text" placeholder="Окончание отчётного периода" data-input="datepicker" data-datepicker="end")
                    select(placeholder="Время" data-find="false")
                        each item, index in Array(24) 
                            option(value="0")= index+':00' 

        .transactions__list(data-tab-filter-container="transactions")
            .transactions__item
                .transactions__date Сентябрь
                .transactions__cards
                    
                    +card-transaction({
                        title: 'Пополнения',
                        cost: '+2 400 ₽',
                        type: '+',
                    })
                    +card-transaction({
                        title: 'Списания',
                        cost: '-7 100 ₽',
                        type: '-',
                    })
            .transactions__item
                .transactions__date Август
                .transactions__cards
                    
                    +card-transaction({
                        title: 'Пополнения',
                        cost: '+2 400 ₽',
                        type: '+',
                    })
                    +card-transaction({
                        title: 'Списания',
                        cost: '-7 100 ₽',
                        type: '-',
                    })
            .transactions__item
                .transactions__date Июль
                .transactions__cards
                    
                    +card-transaction({
                        title: 'Пополнения',
                        cost: '+2 400 ₽',
                        type: '+',
                    })
                    +card-transaction({
                        title: 'Списания',
                        cost: '-7 100 ₽',
                        type: '-',
                    })
            .transactions__item
                .transactions__date Июнь
                .transactions__cards
                    
                    +card-transaction({
                        title: 'Пополнения',
                        cost: '+2 400 ₽',
                        type: '+',
                    })
                    +card-transaction({
                        title: 'Списания',
                        cost: '-7 100 ₽',
                        type: '-',
                    })
            .transactions__item
                .transactions__date Май
                .transactions__cards
                    
                    +card-transaction({
                        title: 'Пополнения',
                        cost: '+2 400 ₽',
                        type: '+',
                    })
                    +card-transaction({
                        title: 'Списания',
                        cost: '-7 100 ₽',
                        type: '-',
                    })
            .transactions__item
                .transactions__date Апрель
                .transactions__cards
                    
                    +card-transaction({
                        title: 'Пополнения',
                        cost: '+2 400 ₽',
                        type: '+',
                    })
                    +card-transaction({
                        title: 'Списания',
                        cost: '-7 100 ₽',
                        type: '-',
                    })