include ../../modules/card-media/card-media.pug

mixin tags(data)
  label.el-tags
    if data.checked
      input(type="radio" name=data.name value=data.value checked="")
    else
      input(type="radio" name=data.name value=data.value )
    span= data.text

mixin report-master(data)

  -
    const typeList = [
      {
        value: '/report-master--result-byobject.html',
        text: 'Количество попыток доступа за период по объектам',
        name: 'report',
        checked: true
      },
      {
        value: '/report-master--result-byontime.html',
        text: 'Распределение доступа по времени суток',
        name: 'report'
      },
      {
        value: '/report-master--result-byphoto.html',
        text: 'Просмотр фото и видео проездов',
        name: 'report'
      },
      {
        value: '/report-master--result-bymethods.html',
        text: 'Отчет по методам открытия',
        name: 'report'
      },
      {
        value: '/report-master--result-byonetime.html',
        text: 'Отчёт по разовым/временным пропускам',
        name: 'report'
      }
    ];

  .report-master(data-datepicker="range")
    .report-master__form
      form(action='/report-master--result-byobject.html' method='GET')
        .report-filter

          .report-filter__label Время начала и окончания отчётного периода:

          .report-filter__tags
            ul
              li: +tags({
                text: 'День',
                value: 'day',
                name: 'days',
                checked: true
              })
              li: +tags({
                text: 'Неделя',
                value: 'week',
                name: 'days'
              })
              li: +tags({
                text: 'Месяц',
                value: 'month',
                name: 'days'
              })
              li: +tags({
                text: 'Полгода',
                value: 'year',
                name: 'days'
              })
              li: +tags({
                text: 'Год',
                value: 'year',
                name: 'days'
              })

          .report-filter__range

            .report-filter__field
              
              .report-filter__date
                  .input--date: input(type="text" placeholder="Дата" data-input="datepicker" data-datepicker="start")
                  select(placeholder="Время" data-find="false")
                    each item, index in Array(24) 
                      option(value="0")= index+':00' 
                      
            .report-filter__field
             
              .report-filter__date
                  .input--date: input(type="text" placeholder="Дата" data-input="datepicker" data-datepicker="end")
                  select(placeholder="Время" data-find="false")
                    each item, index in Array(24) 
                      option(value="0")= index+':00' 
           
          .report-filter__label Тип отчёта:
          
          .report-filter__tags
            ul
              each item in typeList
                  -
                    item.text == data.selected  ? item['checked'] = true : item['checked'] = false
                  li: +tags(item)

          .report-filter__submit
            button.btn Получить отчёт

mixin activate-service
  .activate-service
    .activate-service__icon: +bgimage('/img/common/connect.svg')
    .activate-service__main
      .activate-service__title Услуга не подключена
      .activate-service__desc Перейдите в раздел «Услуги» с помощью кнопки «Подключить услугу» и активируйте то, что вас интересует.
    .activate-service__btn
      a(href='/report-master--start.html'): button.btn.btn--add Подключить услугу

mixin _report-result-action
  .report-result__action
      .report-result__item
        select(placeholder="Все парковки" multiple="true")
          option(value="0") Парковка на Болдина
          option(value="0") Парковка 2
          option(value="0") Парковка 3
          option(value="0") Парковка 4
          option(value="0") Парковка 5
          option(value="0") Парковка 6
          option(value="0") Парковка 7
      .report-result__item
        select(placeholder="Все пользователи и группы" multiple="true")
          option(value="0") Группа по умолчанию
          option(value="0") Добрынина Валерия
          option(value="0") Овчинникова Елена
          option(value="0") Тестовый Михаил
          option(value="0") Ермаков Василий
          option(value="0") Овчинникова Елена
          option(value="0") Тестовый Михаил
          option(value="0") Ермаков Василий
      .report-result__item.report-result__item--export
        a(href='#'): button.btn.btn-line Экспорт отчёта в Excel

mixin report-result
  .report-result
    .report-result__title Количество попыток доступа за период по объектам
    +_report-result-action
    .report-result__table
      .table-radius-wrapper
            .table.table--report
              .table__tr
                  .table__th 
                    |  Парковка
                    span.table__sort
                  .table__th 
                    |  Имя
                    span.table__sort
                  .table__th 
                    |  Номер телефона
                    span.table__sort
                  .table__th 
                    |  Количество попыток (удачных/отказ)
                    span.table__sort

              .table__tr
                .table__td(data-title="Парковка") Парковка на Болдина
                .table__td(data-title="Имя") Тестовый Михаил
                .table__td(data-title="Номер телефона") +7 (916) 261-19-17
                .table__td(data-title="Количество попыток (удачных/отказ)") 16/0
              each item in [1,1,1,1,1,1,1,1]
                .table__tr
                  .table__td(data-title="Парковка") ВАО-22-01
                  .table__td(data-title="Имя") Тестовый Михаил
                  .table__td(data-title="Номер телефона") +7 (916) 261-19-17
                  .table__td(data-title="Количество попыток (удачных/отказ)") 2/0
    .report-result__pagination: +pagination-showmore()


mixin report-result--ontime

  -
    const arrday = [
      {
        name: 'Понедельник',
        count: '164/16',
      },
      {
        name: 'Вторник',
        count: '164/16',
      },
      {
        name: 'Среда',
        count: '164/16',
      },
      {
        name: 'Четверг',
        count: '164/16',
      },
      {
        name: 'Пятница',
        count: '164/16',
      },
      {
        name: 'Суббота',
        count: '96/8',
      },
      {
        name: 'Воскресенье',
        count: '96/8',
      },
    ]    

  .report-result
     
    .report-result__graph
      .report-graph
        .report-graph__days
          .report-graph__title Выберите день недели:
          .report-graph__week
            each item in arrday
              .report-graph__day
                .report-graph__day-name= item.name
                .report-graph__day-count= item.count

        .report-graph__main
          .report-graph__title Распределение доступа по времени суток:
          .report-graph__metrics
            .report-graph__metric-green
              small Всего удачных попыток:
              strong 1024
            .report-graph__metric-red
              small Всего отказов:
              strong 88
          .report-graph__container
            canvas(id="graph")
      
                   
mixin report-result--onetime
  .report-result
    .report-result__title Отчёт по разовым/временным пропускам
    .report-result__action
      .report-result__item
        select(placeholder="Все парковки")
          option(value="0") Парковка на Болдина
          option(value="0") Парковка 2
          option(value="0") Парковка 3
          option(value="0") Парковка 4
          option(value="0") Парковка 5
     
      .report-result__item.report-result__item--export
        a(href='#'): button.btn.btn-line Экспорт отчёта в Excel
    .report-result__table
      .table-radius-wrapper
            .table.table--report
              .table__tr
                  .table__th 
                    |  Дата/время
                    span.table__sort
                  .table__th 
                    |  Парковка
                    span.table__sort
                 

              .table__tr
                .table__td(data-title="Дата/время") Парковка на Болдина
                .table__td(data-title="Парковка") Тестовый Михаил
              
              each item in [1,1,1,1,1,1,1,1]
                .table__tr
                  .table__td(data-title="Дата/время") ВАО-22-01
                  .table__td(data-title="Парковка") Тестовый Михаил
                
    .report-result__pagination: +pagination-showmore()


mixin report-result--methods
  .report-result
    .report-result__title Отчёт по методам открытия
    +_report-result-action
    .report-result__table
      .table-radius-wrapper
        .table.table--lastmaxwidth
          .table__tr
            .table__th 
              | Парковка
              span.table__sort
            .table__th 
              | Имя
              span.table__sort
            .table__th 
              | Номер телефона
              span.table__sort
            .table__th 
              | Метод открытия
              span.table__sort
          .table__tr
            .table__td(data-title="Парковка") Парковка на Болдина
            .table__td(data-title="Имя") Тестовый Михаил
            .table__td(data-title="Номер телефона") +7 (916) 261-19-17
            .table__td(data-title="Метод открытия" )
              ul.devices-access
                li: span( class="tooltip--top tooltip--right" data-tooltip="Метод открытия позвонив на номер телефона"): +bgimage('/img/common/remote-device-call.svg') 
          each item in [1,1,1,1,1]
            .table__tr
              .table__td(data-title="Парковка") Парковка на Болдина
              .table__td(data-title="Имя") Тестовый Михаил
              .table__td(data-title="Номер телефона") +7 (916) 261-19-17
              .table__td(data-title="Метод открытия")
                ul.devices-access
                  li: span( class="tooltip--top tooltip--right" data-tooltip="Метод открытия с мобильного приложения"): +bgimage('/img/common/remote-device-mobile-app.svg')


mixin report-result--media
  .report-result
    .report-result__title Просмотр фото и видео проездов
    +_report-result-action
    .report-result__media
      .report-media
        .report-media__list
          each item in [1,2,1,2,1,1,2,2,1,2]
            if item == 1 
              .report-media__item: +card-media(item)
            if item == 2
              .report-media__item: +card-media--image(item)
    .report-result__pagination: +pagination-showmore()